@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url("../fonts/verdana/Verdana.ttf");
}
$font: "Source Sans Pro";

@mixin Button() {
  padding: 7.6px 28.65px 8.4px 29.35px;
  background: rgba(255, 255, 255, 0.002);
  box-shadow: inset 0px 0px 0px 1px #067a46;
  border-radius: 4px;
  color: #067a46;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: none;
  transition: all 0.4s;

  &:hover {
    background-color: #067a46;
    color: #fff;
  }
}
@mixin Button2() {
  display: block;
  margin: auto;
  margin-top: 33px;
  background: #067a46;
  border-radius: 4px;
  padding: 11.6px 23.375px 12.4px 24px;
  text-align: center;
  color: #ffffff;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: 1.5px solid #067a46;
  transition: all 0.4s;

  &:hover {
    background-color: transparent;
    backdrop-filter: blur(5px);
    color: #067a46;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    overflow-x: hidden;
    .container_website {
      // border: 2px solid red;
      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        // border: inherit;
        position: sticky;
        top: 0;
        backdrop-filter: blur(5px);
        z-index: 10000 !important;

        .bar {
          display: none;
        }

        .header_logoItem {
          display: flex;
          align-items: center;
          gap: 30px;

          .header_logoItem_img {
            width: 92px;
            height: 30px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          nav {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            > ul {
              margin: 0;
              padding: 0;
              list-style-type: none;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 27px;
              li {
                a {
                  text-decoration: none;
                  font-family: $font;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 24px;
                  color: #242424;
                  transition: all 0.4s;

                  &:hover {
                    text-decoration: underline;
                  }
                }
                .dropdown {
                  button {
                    font-family: $font;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #242424;
                  }
                }
              }
            }
          }
        }
        .header_loginBtn {
          button {
            padding: 7.6px 28.65px 8.4px 29.35px;
            background: rgba(255, 255, 255, 0.002);
            box-shadow: inset 0px 0px 0px 1px #067a46;
            border-radius: 4px;
            color: #067a46;
            font-family: $font;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            border: none;
            transition: all 0.4s;

            &:hover {
              background-color: #067a46;
              color: #fff;
            }
          }
        }
      }
      main {
        width: 100%;
        // border: inherit;
        .section_Banner {
          // border: inherit;
          width: 100%;
          height: 100vh;
          background: url("https://img.hellofresh.com/c_fill,f_auto,fl_lossy,h_820,q_auto:eco,w_1534/hellofresh_website/us/cms/homepage/bannersUS/Home_Page_-_Top_Banner__-_Mobile_v3.jpg")
            no-repeat;
          background-size: cover;
          background-position: 65% 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          .section_Banner_item {
            h1 {
              font-family: Arial, Helvetica, sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 37px;
              line-height: 48px;
              text-align: center;
              color: #000000;
            }
            p {
              margin-top: 40px;
              text-align: center;
              color: #343434;
              font-family: $font;
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 32px;
            }
            button {
              display: block;
              margin: auto;
              margin-top: 33px;
              background: #067a46;
              border-radius: 4px;
              padding: 11.6px 23.375px 12.4px 24px;
              text-align: center;
              color: #ffffff;
              font-family: $font;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              border: 1.5px solid #067a46;
              transition: all 0.4s;

              &:hover {
                background-color: transparent;
                backdrop-filter: blur(5px);
                color: #067a46;
              }
            }
            a {
              display: block;
              margin: auto;
              margin-top: 80px;
              width: 50px;
              height: 50px;
              background: #ffffff;
              border: 1px solid #067a46;
              border-radius: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              transition: all 0.3s;
              text-decoration: none;
              svg {
                path {
                  transition: all 0.3s;
                }
              }

              &:hover {
                background-color: #067a46;
                svg {
                  path {
                    fill: #fff;
                  }
                }
              }
            }
          }
        }
        .section_WhyHelloFresh {
          background: #f8f8f8;
          padding: 40px 0;

          h1 {
            text-align: center;
            letter-spacing: -0.3px;
            color: #242424;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 38px;
          }
          .section_WhyHelloFresh_row {
            margin: auto;
            width: 80%;
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 120px;
            .section_WhyHelloFresh_row_col {
              // padding: 30px 40px;
              // max-width: 262px;
              .section_WhyHelloFresh_row_col_img {
                width: 120px;
                height: 120px;
                margin: auto;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              h3 {
                margin-top: 28.8px;
                text-align: center;
                letter-spacing: -0.3px;
                color: #242424;
                font-family: "Source Sans Pro";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 32px;
              }
              p {
                margin-top: 13px;
                font-family: "Source Sans Pro";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #242424;
              }
            }
          }
          button {
            @include Button();
            margin: auto;
            display: block;
            margin-top: 26.4px;
            padding: 11.6px 23.875px 12.4px 24px;
          }
        }
        .section_ViewOurPlans {
          // border: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 127px;
          padding: 22px 0;

          .section_ViewOurPlans_title {
            h2 {
              letter-spacing: -0.3px;
              color: #242424;
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: 23px;
              line-height: 32px;
              text-align: center;
            }
            ul {
              margin: 0;
              padding: 0;
              list-style-type: none;
              li {
                a {
                  text-decoration: none;
                  color: #242424;
                  font-family: "Segoe UI Symbol";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 34px;
                  transition: all 0.4s;

                  &:hover {
                    color: #067a46;
                    text-decoration: underline;
                  }
                }
                &:last-of-type {
                  a {
                    color: #067a46;
                    text-decoration: underline;
                  }
                }
              }
            }
            button {
              @include Button2();
              display: block;
              width: 100%;
            }
          }
        }
        .section_RecipeWeek {
          // border: inherit;
          margin-top: 90.2px;

          h1 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 31px;
            line-height: 38px;
            text-align: center;
            letter-spacing: -0.3px;
            color: #242424;
          }
          > p {
            margin-top: 5.6px;
            font-family: "Source Sans Pro";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #242424;
          }
          .section_RecipeWeek_row {
            margin-top: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            position: relative;

            .section_RecipeWeek_row_col {
              width: 262px;
              height: 315px;
              border-radius: 5px;
              display: flex;
              justify-content: flex-start;
              align-items: flex-end;
              padding-left: 12px;
              gap: 9px;
              position: relative;

              &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(
                  180deg,
                  rgba(0, 0, 0, 0) 45%,
                  #000000 100%
                );
                filter: drop-shadow(0px 3px 3px #e4e4e4);
                border-radius: 5px;
              }

              .section_RecipeWeek_row_col_title {
                position: relative;
                z-index: 2;
                h3 {
                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 23px;
                  line-height: 32px;
                  letter-spacing: -0.3px;
                  color: #ffffff;
                }
                p {
                  font-family: Arial, Helvetica, sans-serif;
                  font-style: normal;
                  font-weight: 700;
                  font-size: 12px;
                  line-height: 21px;
                  color: #242424;
                  background: #ffcf70;
                  border-radius: 3px;
                  padding: 2px 8px;
                }
              }
              &:nth-of-type(1) {
                background: url("../image/recipe1.png");
              }
              &:nth-of-type(2) {
                background: url("../image/recipe2.png");
                .section_RecipeWeek_row_col_title {
                  p {
                    background: #476b2d;
                    color: #fff;
                  }
                }
              }
              &:nth-of-type(3) {
                background: url("../image/recipe3.png");
                .section_RecipeWeek_row_col_title {
                  p {
                    background: #37938a;
                    color: #fff;
                  }
                }
              }
              &:nth-of-type(4) {
                background: url("../image/recipe4.webp");
              }
            }
            .section_RecipeWeek_row_left {
              position: absolute;
              top: 50%;
              left: 10%;
              width: 40px;
              height: 40px;
              background: #ffffff;
              border: 1px solid #067a46;
              border-radius: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all 0.4s;
              cursor: pointer;
              svg {
                path {
                  transition: all 0.4s;
                }
              }
              &:hover {
                background-color: #067a46;
                svg {
                  path {
                    fill: #fff;
                  }
                }
              }
            }
            .section_RecipeWeek_row_right {
              position: absolute;
              top: 50%;
              right: 10%;
              width: 40px;
              height: 40px;
              background: #ffffff;
              border: 1px solid #067a46;
              border-radius: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all 0.4s;
              cursor: pointer;
              svg {
                path {
                  transition: all 0.4s;
                }
              }
              &:hover {
                background-color: #067a46;
                svg {
                  path {
                    fill: #fff;
                  }
                }
              }
            }
          }
          button {
            @include Button();
            display: block;
            margin: auto;
            margin-top: 49.2px;
          }
        }
        .section_HelloFreshPics {
          // border: inherit;
          margin-top: 80px;

          h1 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 31px;
            line-height: 38px;
            text-align: center;
            letter-spacing: -0.3px;
            color: #242424;
          }
          p {
            margin-top: 30.5px;
            text-align: center;
            color: #242424;
            font-family: "Source Sans Pro";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
          }
          .section_HelloFreshPics_row {
            margin-top: 60px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            padding: 30px 15px;
            width: 80%;
            margin: auto;

            .section_HelloFreshPics_row_col {
              flex: 1 0 200px;
              width: 262px;
              .section_HelloFreshPics_row_col_img {
                height: 328px;
                img {
                  object-fit: cover;
                  width: 100%;
                  height: 100%;
                }
              }
              h3 {
                margin-top: 28.4px;
                text-align: center;
                letter-spacing: -0.3px;
                color: #242424;
                font-family: "Inter";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 32px;
              }
              p {
                font-family: "Source Sans Pro";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                margin-top: 11.4px;
                align-items: center;
                text-align: center;
                color: #242424;
              }
            }
          }
        }
        .section_Plans {
          margin-top: 50px;
          // border: inherit;
          background: url("../image/footerBanner.png") no-repeat;
          height: 320px;
          display: flex;
          justify-content: center;
          align-items: center;

          .section_Plans_item {
            padding: 0 40px;
            h1 {
              font-family: Arial, Helvetica, sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 35px;
              line-height: 48px;
              text-align: center;
              color: #000000;
            }
            p {
              margin-top: 40px;
              font-family: "Source Sans Pro";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 32px;
              text-align: center;
              color: #343434;
            }
            button {
              margin-top: 33px;
              @include Button2();
            }
          }
        }
        .section_QA {
          margin-top: 32px;
          // border: inherit;
          background-color: #f8f8f8;
          padding: 32px 0;

          h1 {
            font-family: "Verdana";
            font-style: normal;
            font-weight: 400;
            font-size: 37px;
            line-height: 48px;
            text-align: center;
            color: #242424;
          }
          .section_QA_row {
            width: 70%;
            margin: auto;
            margin-top: 45px;
            .accordion {
              --bs-accordion-bg: transparent;
            }
          }
        }
      }
      footer {
        margin-top: 50px;
        // border: inherit;

        .footer_Navs {
          width: 100%;
          // border: inherit;
          display: flex;
          .footer_Navs_row {
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding: 0 6%;
            flex-wrap: wrap;
            gap: 30px;

            .footer_Navs_row_col {
              width: 25%;
              flex: 1 0 200px;
              h3 {
                font-family: "Source Sans Pro";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #242424;
              }
              ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                  margin-top: 5px;
                  &:first-of-type {
                    margin-top: 12px;
                  }
                  a {
                    text-decoration: none;
                    font-family: "Source Sans Pro";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #067a46;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
              h4 {
                font-family: "Source Sans Pro";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 18px;
                color: #056835;
              }
              p {
                margin-top: 15.4px;
                font-family: "Source Sans Pro";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                color: #242424;
              }
            }
          }
        }
        .footer_Social {
          width: 100%;
          margin-top: 54px;
          padding: 25px 6%;
          border-top: 1px solid #e4e4e4;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          gap: 40px;

          .footer_Social_title {
            display: flex;
            align-items: center;
            gap: 70px;
            flex-wrap: wrap;

            h5 {
              font-family: "Source Sans Pro";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              color: #242424;
              margin-bottom: 0;
            }
            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              display: flex;
              gap: 24px;
              flex-wrap: wrap;

              li {
                a {
                  font-family: "Source Sans Pro";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 20px;
                  color: #067a46;
                  text-decoration: none;

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
          .footer_Social_img {
            display: flex;
            gap: 22px;
            align-items: center;

            a {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 5px 7px;
              transition: all 0.4s;

              &:nth-of-type(1) {
                background: #1877f2;
                border: 1.5px solid #1877f2;
                padding: 5px 7px 0 7px;
              }
              &:nth-of-type(2) {
                background: #1da1f2;
                border: 1.5px solid #1da1f2;
              }
              &:nth-of-type(3) {
                background: #e1306c;
                border: 1.5px solid #e1306c;
              }
              svg {
                path {
                  transition: all 0.4s;
                }
              }
              &:hover {
                &:nth-of-type(1) {
                  background: transparent;
                  svg {
                    path {
                      fill: #1877f2;
                    }
                  }
                }
                &:nth-of-type(2) {
                  background: transparent;
                  svg {
                    path {
                      fill: #1da1f2;
                    }
                  }
                }
                &:nth-of-type(3) {
                  background: transparent;
                  svg {
                    path {
                      fill: #e1306c;
                    }
                  }
                }
              }
            }
          }
        }
      }
      @media screen and (min-width: 3160px) {
        main {
          .section_Banner {
            height: 650px;
            background-image: url("https://img.hellofresh.com/c_fill,f_auto,fl_lossy,h_1300,q_auto:eco,w_3160/hellofresh_website/us/cms/homepage/bannersUS/Home_Page_-_Top_Banner_-_Desktop_v3.jpg");
          }
        }
      }
      @media screen and (min-width: 1520px) {
        width: 1520px;
        margin: auto;

        main {
          .section_Banner {
            height: 650px;
            background-image: url("https://img.hellofresh.com/c_fill,f_auto,fl_lossy,h_820,q_auto:eco,w_1534/hellofresh_website/us/cms/homepage/bannersUS/Home_Page_-_Top_Banner__-_Mobile_v3.jpg");
          }
        }
      }
      @media screen and (max-width: 1350px) {
        main {
          .section_WhyHelloFresh {
            .section_WhyHelloFresh_row {
              width: 90%;
            }
          }
        }
      }
      @media screen and (max-width: 1220px) {
        main {
          .section_WhyHelloFresh {
            .section_WhyHelloFresh_row {
              width: 95%;
              gap: 40px;
            }
          }
          .section_HelloFreshPics {
            .section_HelloFreshPics_row {
              width: 95%;
            }
          }
        }
      }
      @media screen and (max-width: 1130px) {
        main {
          .section_ViewOurPlans {
            gap: 40px;
            .section_ViewOurPlans_img {
              width: 50%;
              img {
                width: 100%;
              }
            }
            .section_ViewOurPlans_title {
              width: 50%;
              h2 {
                font-size: 18px;
                line-height: 26px;
              }
              ul {
                li {
                  a {
                    font-size: 14px;
                    line-height: 28px;
                  }
                }
              }
              button {
                width: 50%;
                font-size: 14px;
                padding: 8px 23.375px 12.4px 24px;
              }
            }
          }
        }
      }
      @media screen and (max-width: 1000px) {
        header {
          .header_logoItem {
            order: 2;
            transform: translate(-50%);
            nav {
              display: none;
            }
          }
          .bar {
            display: block;
            order: 3;
          }
          .header_loginBtn {
            order: 1;
          }
        }
      }
      @media screen and (max-width: 900px) {
        main {
          .section_WhyHelloFresh {
            .section_WhyHelloFresh_row {
              flex-wrap: wrap;
            }
          }
          .section_RecipeWeek {
            .section_RecipeWeek_row {
              padding: 0 10px;
              .section_RecipeWeek_row_col {
                &:nth-of-type(4) {
                  display: none;
                }
              }
              .section_RecipeWeek_row_left {
                left: 3%;
              }
              .section_RecipeWeek_row_right {
                right: 3%;
              }
            }
          }
        }
      }
      @media screen and (max-width: 760px) {
        main {
          .section_ViewOurPlans {
            flex-wrap: wrap;
            .section_ViewOurPlans_title {
              width: 100%;
              ul {
                text-align: center;
                margin-top: 25px;
              }
            }
            .section_ViewOurPlans_img {
              width: 80%;
            }
          }
        }
      }
      @media screen and (max-width: 705px) {
        main {
          .section_RecipeWeek {
            .section_RecipeWeek_row {
              padding: 0 10px;
              .section_RecipeWeek_row_col {
                &:nth-of-type(3) {
                  display: none;
                }
              }
              .section_RecipeWeek_row_left {
                left: 3%;
              }
              .section_RecipeWeek_row_right {
                right: 3%;
              }
            }
          }
        }
      }
      @media screen and (max-width: 540px) {
        main {
          .section_Banner {
            background-position: 0% 50%;
            .section_Banner_item {
              backdrop-filter: blur(15px);
              border-radius: 5px;
              padding: 10px 12px;
            }
          }
        }
        footer {
          .footer_Social {
            .footer_Social_title {
              gap: 20px;
            }
          }
        }
      }
      @media screen and (max-width: 450px) {
        main {
          .section_Banner {
            .section_Banner_item {
              h1 {
                font-size: 28px;
                line-height: 45px;
              }
              p {
                margin-top: 20px;
                font-size: 18px;
                line-height: 28px;
              }
              button {
                margin-top: 23px;
                padding: 8px 20px 10px 16px;
              }
              a {
                width: 30px;
                height: 30px;
                margin-top: 50px;
                svg {
                  width: 15px;
                  height: 8px;
                }
              }
            }
          }
          .section_RecipeWeek {
            h1 {
              font-size: 25px;
              line-height: 36px;
            }
            p {
              font-size: 14px;
              line-height: 18px;
            }
            .section_RecipeWeek_row {
              .section_RecipeWeek_row_col {
                &:nth-of-type(2) {
                  display: none;
                }
              }
            }
          }
          .section_Plans {
            .section_Plans_item {
              h1 {
                font-size: 32px;
                line-height: 46px;
              }
              p {
                font-size: 18px;
                line-height: 30px;
                margin-top: 10px;
              }
              button {
                padding: 8px 23.375px 12.4px 24px;
              }
            }
          }
          .section_QA {
            h1 {
              font-size: 28px;
              line-height: 42px;
            }
            .section_QA_row {
              width: 95%;
            }
          }
        }
      }
      @media screen and (max-width: 370px) {
        header {
          gap: 20px;
          .header_loginBtn {
            button {
              padding: 5px 10px;
              font-size: 14px;
              line-height: 24px;
            }
          }
          .header_logoItem {
            transform: translate(-10%, 0%);
          }
        }
        main {
          .section_ViewOurPlans {
            .section_ViewOurPlans_title {
              ul {
                text-align: left;
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}
